/* Giving our navbar some padding and a background color */
.navbar {
    padding: 0px;
    background: white;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line.*/
  .navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: gray;
    text-decoration: none;
  }

  .teal {
      background: teal;
  }

  body {
      background: gainsboro ;
  }